
/* widget style start */
 /* widget latest-post style start*/
.page-sidebar .widget.widget-latest-post{ background:#fff; padding:25px; margin-bottom:30px;}
.page-sidebar .widget-title{ margin-bottom:32px;}
.page-sidebar .widget-title h5{ font-size:16px; font-weight:700; color:#2f313a; position:relative; font-family: 'Montserrat', sans-serif; text-transform:uppercase; margin-bottom:0;}
.page-sidebar .widget-title h5:after{ position:absolute; width:18px; height:2px; background:#d64521; left:0; top:25px; content:'';}
.widget.widget-latest-post ul{ margin:0; padding:0;}
.widget.widget-latest-post ul li{ list-style:none; border-bottom:1px solid #f2f2f2; padding-bottom:5px; margin-bottom:10px;}
.widget.widget-latest-post ul li:last-child{border:0; margin-bottom: 0;}
.widget.widget-latest-post ul li .img-holder{ float:left; margin-right:12px; margin-top:6px;}
.widget.widget-latest-post ul li .img-holder img{ width:100%;}
.widget.widget-latest-post ul li .text-holder{ overflow:hidden;}
.widget.widget-latest-post ul li .text-holder h6{ margin-bottom:3px;}
.widget.widget-latest-post ul li .text-holder h6 a{ font-size:14px; color:#000; text-decoration:none; font-weight:400; letter-spacing:0; text-transform:lowercase; font-family: 'Montserrat', sans-serif; }
.widget.widget-latest-post ul li .text-holder .post-option .post-date{  font-size:12px; color:#9999; display:block; padding-left:15px; font-weight:400; font-family: 'Roboto', sans-serif;}
 /* widget latest-post style end*/
/* widget archives style start*/
.widget.widget-archives{ background:#fff; padding:25px; margin-bottom:30px;}
.widget.widget-archives ul{ margin:0; padding:0;}
.widget.widget-archives ul li{ list-style:none; border-bottom:1px solid #f2f2f2; padding-bottom:4px; margin-bottom:4px;}
.widget.widget-archives ul li a{ position:relative; font-size:14px; font-family: 'Roboto', sans-serif; color:#555555; padding-left:20px;}
.widget.widget-archives ul li a:after{ position:absolute; top:-5px; left:0; content:'\e08e'; color:#999999; font-size:10px;  font-family: "icomoon" !important;}
.widget.widget-archives ul li:last-child {border-bottom: none; padding: 0; margin: 0;}
 /* widget archives style end*/
 /* widget tag-cloud style start*/
.widget.widget-tag-cloud{background:#fff; padding:25px; margin-bottom:30px;}
.widget.widget-tag-cloud a {border: 1px solid #f2f2f2 ; color:#999999;display: inline-block; font-family: 'Roboto', sans-serif;font-size: 12px;font-weight: 400;margin: 0 2px 5px 0;outline: medium none;padding: 2px 11px;text-decoration: none; background:#f9f9f9; transition:all ease-in-out 0.3s; border-radius:5px; }
.widget.widget-tag-cloud a:hover{ color:#fff; }
/* widget tag-cloud style end*/
/* widget-gallery style start*/
.widget.widget-gallery{ margin-bottom:30px; background:#fff; padding:25px;}
.widget.widget-gallery ul{ margin:0; padding:0;}
.widget.widget-gallery ul li{list-style:none; display:inline-block; padding: 0px; margin: 0 2px -3px 0; width: 23.63%;}
.widget.widget-gallery ul li .img-holder figure { overflow:hidden;}
.widget.widget-gallery ul li .img-holder figure img{ width:100%;}
.widget.widget-gallery ul li .img-holder figure figcaption{ height:100%; width:100%; background:#c33332; opacity:0; position:absolute; top:0px; left:-100%; transition:all ease-in-out 0.3s; display: inline-block; }
.widget.widget-gallery ul li .img-holder:hover figure figcaption{ opacity:0.5;left:0;}
/* widget-gallery style end*/
/* widget-newsletter style start*/
.widget.widget-newsletter{ margin-bottom:30px; padding:25px; background:#fff;}
.widget.widget-newsletter p{letter-spacing: 0.6px; margin-bottom:20px;}
.widget.widget-newsletter .field-holder{ position:relative;}
.widget.widget-newsletter .field-holder .field-input{ height:35px; border-radius:5px; font-size:14px; color:#999999; text-transform:lowercase; padding-left:15px; padding-right:77px; border-color:#f2f2f2;}
.widget.widget-newsletter .field-holder label{ position:absolute; top:0; right:0; font-weight:normal;}
.widget.widget-newsletter .field-holder .btn-holder{ height:35px;  line-height:35px; padding:0 10px; background:#5a2489; border:none; color:#fff; border-radius:0 3px 3px 0; font-size:14px;}
/* widget-newsletter style end*/
/* widget-search style start*/
.widget.widget-search{ margin-bottom:30px; padding:25px; background:#fff;}
.widget.widget-search .field-holder{ position:relative;}
.widget.widget-search .field-holder .field-input{background-color:#fefefe; height:35px; border-color:#f2f2f2; color:#999; font-size:14px;font-family: 'Roboto', sans-serif; border-radius:5px;}
.widget.widget-search .field-holder label {border: 0 none;box-shadow: none;cursor: pointer;height: 35px;position: absolute;right: 0;top: 0;width: 35px;}
.widget.widget-search .field-holder label:after{  background:#5a2489; color:#fff;content: "\f002";font-family: "icomoon";font-size: 14px;font-weight: 400;position: absolute;right: 10px;top: 5px;}
.widget.widget-search .field-holder .btn-holder{background:#5a2489;border: 0 none;box-shadow: none;cursor: pointer;height: 35px;position: absolute;    right: 0;top: 0;width: 35px; color:#fff; border-radius: 0 3px 3px 0;}
/* widget-search style start*/
.widget.widget-property-types{ margin-bottom:30px; padding:25px; background:#fff;}
.widget.widget-property-types ul{ margin:0; padding:0;}
.widget.widget-property-types ul li{ list-style:none; color:#a1a1a1; margin-bottom:5px; padding-bottom: 5px; border-bottom:1px solid #f2f2f2; font-size:14px;}
.widget.widget-property-types ul li:last-child{ border:none; margin: 0; padding: 0;}
.widget.widget-property-types  ul li a{ position:relative; padding-left:20px; font-size:14px; color:#555555; text-decoration:none; padding-right:5px;}
.widget.widget-property-types ul li a:after{ position: absolute; top:-6px; left:0; content:'\ec07'; font-family: "icomoon"; font-size:10px; color:#999999;}

